---
import HeaderSection from '../components/HeaderSection';
import FooterSection from '../components/FooterSection';
import JsFile from '../assets/js/script.js';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="stylesheet" media="screen" href="./src/assets/style.css" />
    <script
      src="https://kit.fontawesome.com/5edb8394fa.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!--container start-->
    <div class="container">
      <HeaderSection />
      <!-- main section start -->
      <main>
        <slot />
      </main>
      <!-- main section end -->
      <FooterSection />
      <!--container end-->
    </div>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
